@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.full-width {
    margin: 0 auto;
    max-width: 1100px;

    @media screen and (max-width: 600px) {
        padding: 0 16px;
    }
}

.hidden {
    display: none;
}

