@use './colors.scss' as *;

.expanded {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;

    &__container {
        max-width: 600px;
        font-size: 24px;
        font-weight: 500;
        z-index: 1;
        text-align: center;
        color: white;
    }

    &__background {
        background: $primary-color;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: border-radius .3s ease-in-out, width .3s ease-in-out;
        padding: 0 28px;
        border-radius: 0;
        margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
        padding: 100px 16px;
    }
}

.ion-awg-callout-animated {
    margin: 0 auto;
    padding: 136px 46px;
    position: relative;
    width: 100%;
}