@use './colors.scss' as *;

.footer {
    background-color: $background-color;
    color: #000;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__logo {
        height: 40px;
    }

    @media screen and (max-width: 600px) {
        padding: 20px 16px 100px;
        justify-content: center;
    }
}