@use './colors.scss' as *;

.navbar {
    border: 1px solid $background-color;
    position: fixed;
    top: 15px;
    width: 600px;
    background: $primary-color;
    height: 60px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 26px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .1s ease-in-out .1s;

    &--shown {
        opacity: 1;
    }

    &__cta {
        border: none;
        border-radius: 1000px;
        background-color: white;
        color: $primary-color;
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 12px 24px;
        text-decoration: none;
        max-width: fit-content;
    }

    @media screen and (max-width: 600px) {
        bottom: 0px;
        width: 100%;
        top: auto;
        border-radius: 0;
        border: none;
        padding: 8px;
        box-shadow: 0 4px 4px 0 rgba(60, 64, 67, .3), 0 8px 12px 6px rgba(60, 64, 67, .15);
        background-color: white;
        height: 82px;

        &__logo {
            display: none; 
        }

        &__cta {
            padding: 12px 16px;
            font-size: 14px;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            height: 50px;
            background: $primary-color;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }
    }
}
