---
import '../styles/expanded.scss';
---

<div class="expanded">
	<div class="expanded__container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur sed arcu pretium facilisis. Etiam risus nunc, eleifend ac neque ut.
    </div>
    <div class="expanded__background"></div>
</div>

<script>
  const background = document?.querySelector('.expanded__background') as HTMLElement

  if (background) {
    const handleScroll = () => {
        const rect = background.getBoundingClientRect();
        const top = rect.top;
        const bottom = rect.bottom;
        const viewportHeight = window.innerHeight;
        const triggerThreshold = viewportHeight * 0.7;
        const triggerRelease = viewportHeight * 0.2;

        if (top < triggerThreshold && bottom > triggerRelease) {
          background.classList.add('expanded__background--expand');
        } else {
          background.classList.remove('expanded__background--expand');
        }
      };
      window.addEventListener('scroll', handleScroll);
  }
</script>