---
import '../styles/footer.scss';
import logo from '../assets/logo.svg';
---

<div class="footer">
	<div class="footer__container">
        <img src={logo.src} alt="" class="footer__logo">
    </div>
</div>