---
import '../styles/hero.scss';
import logo from '../assets/logo.svg';
---

<div class="hero">
	<div class="hero__container full-width">
        <img src={logo.src} alt="">
        <h3 class="hero__title">Onde as comunidades acontecem</h3>
        <p class="hero__description">
            Compartilhe e conecte. A estrutura flexível que se adapta ao seu público e ao seu dia a dia.
        </p>
        <a href="https://app.ushare.com.br" class="hero__cta">Começar Agora</a>
    </div>
</div>
