---
import '../styles/twoup.scss';
import twoupreverse from '../assets/twoupreverse.svg';
---

<div class="twoup full-width">
    <img src={twoupreverse.src} class="twoup__img" />
	<div class="twoup__container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur sed arcu pretium facilisis. Etiam risus nunc, eleifend ac neque ut.
    </div>
</div>
