---
import '../styles/twoup.scss';
import twoup from '../assets/twoup.svg';
---

<div class="twoup full-width">
	<div class="twoup__container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur sed arcu pretium facilisis. Etiam risus nunc, eleifend ac neque ut.
    </div>
    <img src={twoup.src} class="twoup__img" />
</div>
