<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="uShare - Onde as comunidades acontecem" />
		<link rel="canonical" href="https://ushare.com.br" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://ushare.com.br/" />
		<meta property="og:title" content="uShare" />
		<meta property="og:description" content="Onde as comunidades acontecem" />
		<meta property="og:image" content="/logo.svg" /> <meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content="uShare" />
		<meta property="twitter:image" content="/logo.svg" />

		<title>uShare</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
